@section Title{ | Инфо }

<div class="content-inner info">
    <div>
        Группа «Девятый миллиметр» создана в 2009 году.
        <br />Коллектив играет в стиле панк-рок.<br />
        <br />
        <br />
        Состав группы:
        <ul>
            <li>
                Сергей Руденя – гитара, вокал
            </li>
            <li>
                Юра Татенко – бас
            </li>
            <li>
                Миша Есьман – труба, бэк
            </li>
            <li>
                Гена Гаранский – ударные
            </li>
        </ul>
        <br />
        В репертуаре коллектива более 20 композиций.
        <br />
        В 2012 году после всестороннего интеллектуального синтеза «Девятый миллиметр» явил свету свой дебютный музыкальный опус под названием <a style="font-size: 15px;" href="http://9mm.azurewebsites.net/audio">"С.П."</a>!
        <br />
        <br />
        Сочетая в своем творчестве, казалось бы, несочетаемое, группа являет собой пример «интеллигентного» панка.
        <br />
        <br />
        В своих песнях «интеллигентные панки» тонко иронизируют над собой и окружающей действительностью, а иногда могут просто поскоморошничать или предстать настоящими романтиками.
        <br />
        <br />
        Участие в фестивалях:
        <br /><br />
        Театральный саунд (в рамках IV Международного фестиваля театрального искусства «Панорама»)'2009.
        <br />
        Фестиваль «Музыкальный спарринг - 2» (2-е место)'2010.
        <br />
        VI Белорусский международный фестиваль театров кукол'2010.
        <br /><br /><br />
    </div>
</div>