@section Title{ | Новости }

@section Meta{
	<meta name="title" content="Девятый миллиметр представляет новый сингл!" />
	<meta name="description" content="В преддверии выпуска нового альбома, накануне сольного концерта группы, для всех, кто был с нами эти пять лет, и кто присоединится к нам в следующие пять наш анархо-интеллигентный сингл - Плохой!" />
	<link rel="image_src" href="http://i.imgur.com/XSnOim6.png">
}

@*<div style="background-image: url('/content/images/foots.png'); background-repeat: no-repeat; position: absolute; left: 280px; bottom: 50px; width: 700px; height: 600px; opacity: 0.1; "><!--c--></div>
    <div class="teeth"><!--c--></div>*@


<div class="content-inner news">
    <div>
        <div style="font-size: 11px; text-align: right;"><span style="font-style: italic">15.06.2016</span> | теги: <a href="#">#сингл</a> <a href="#">#емеля</a> <a href="#">#новый альбом</a>
        </div>
        <hr style="opacity: 0.3; margin-bottom: 15px; margin-top: 0px;"/>
        <div style="color: #000600;">
            <p>
                Минский панк-рок коллектив <strong>Девятый миллиметр</strong> во главе с актерами минских театров <a target="_blank" href="https://vk.com/id84268584">Сергеем Руденей</a>, <a target="_blank" href="https://vk.com/id55772588">Михаилом Есьманом</a>, <a target="_blank" href="https://vk.com/id47967190">Александром Зеленко</a> и <a target="_blank" href="https://vk.com/id9130727">Геннадием Гаранским</a> после непродолжительного перерыва <strong>возвращается в строй</strong>. Ребята работали над записью своего <strong>второго студийного альбома</strong>, выход которого запланирован на <strong>осень 2016 года</strong>. Уже сегодня можно услышать одну из песен, вошедших в альбом: Девятый миллиметр представляют <strong>новый сингл</strong> под названием <strong>«Емеля»</strong>.
            </p>
            <div>
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/268427736&amp;color=7F7F7F&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
            <p>
                - Когда вокруг рушатся империи, а космос превращается в свалку, когда дети в Африке по-прежнему голодают, когда нефть дешевеет, а струны для гитары все дороже, когда кажется, что все катится в тартарары - тебя может спасти всего лишь неделя долгожданного отпуска, когда можно упасть на горячий песок и забыть о всех проблемах хотя бы на это непродолжительное время. Надеемся, что песня «Емеля» поможет улучшить ваше эмоциональное состояние и скрасит время ожидания отпуска, - прокомментировал вокалист группы Сергей Руденя.
            </p>
        </div>
    </div>
    <br/>
    <div>
        <div style="font-size:11px; text-align:right;"><span style="font-style:italic">21.07.2014</span> | теги: <a href="#">#сингл</a> <a href="#">#плохой</a> <a href="#">#сольник</a></div>
        <hr style="opacity:0.3; margin-bottom:15px;margin-top: 0px;" />
        <div style="color: #000600;">
            <p>
                Пять лет назад состоялась первая репетиция группы Девятый миллиметр. &quot;Ничего <strong>хорошего</strong> из этого не выйдет&quot; - интеллигентно сказали мы друг другу после этой репетиции и стали писать <strong>плохие</strong> песни, играть <strong>плохие</strong> концерты, читать <strong>плохие</strong> книги, ездить в <strong>плохие</strong> страны и влюбляться в <strong>плохих</strong> девчонок.
            </p>
            <div>
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/159639989&amp;color=7F7F7F&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
            <p>
                И вот теперь, когда по-прежнему <strong>хорошие</strong> начальники придумывают <strong>хорошие</strong> законы, <strong>хорошие</strong> милиционеры охраняют <strong>хороших</strong> начальников, <strong>хорошие </strong>люди спиваются <strong>хорошим</strong> недорогим вином, смотрят <strong>хорошие</strong> правильные фильмы, мы остаёмся прежними, потому что, как ни крути, сегодня <strong>хорошо быть плохим</strong>!
            </p>
            <p>
                И в преддверии выпуска нового альбома, накануне <a href="http://vk.com/9mmsaltime" target="_blank">сольного концерта</a> группы, для всех, кто был с нами эти пять лет, и кто присоединится к нам в следующие пять наш анархо-интеллигентный сингл - <a href="https://soundcloud.com/ninthmillimeter/plohoy" target="_blank">Плохой!</a> Ну а тех, кто соскучился по живому звуку, тех, кого утомило капризное лето, тех, кто купил новые кеды и не знает куда их надеть, мы приглашаем на наш сольный концерт в клуб <a target="_blank" href="http://vk.com/9mmsaltime">САЛТАЙМ, 26 июля, в 19:00</a>! Ждем вас! Лето, оно не на улице, оно - в душе!
            </p>
        </div>
    </div>
</div>
