@section Title{ | Видео }
<div class="content-inner videos">
      @*<iframe width="560" height="316" src="http://www.youtube.com/embed/rMAH7yDxOr8" frameborder="0" allowfullscreen></iframe>*@
    <script src="//www.powr.io/powr.js" powr-token="56a0a36a3a" external-type="html"></script>
    <div class="powr-video-slider" label="Enter A Label"></div>
</div>