* {
    outline: 0px;
	box-sizing: border-box; 
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
    min-height: 100%;
    min-width: 950px;
    position: relative;
}

body{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	color: #444;
    background-image: url('/Content/images/bg_line.png');
}

#header, #footer {
    /*background: rgba(24, 24, 24, 0.5);*/
    background: none repeat scroll 0 0 rgba(133, 133, 133, 1);
}

#footer {
    height:50px;
}

#content {
    width: 100%;
}

.content-inner {
    margin: 0 auto;
    position: relative;
    padding-bottom: 90px;
}

.content-inner.audio {
    margin-top: 50px;
    width: 600px;
}

.content-inner.videos {
    width: 100%;
}

.powr-video-slider {
    width:615px;
    margin: 110px auto 0;
    height: 0px;
}

.content-inner.news {
    width: 900px;
    margin-top:40px;
    text-align: justify; 
    font-size:14px;
}

.content-inner.home {
    width: 100%;
}

.content-inner.home > .nav {
    width:600px;
    margin: 0 auto;
    position: relative;
}

.content-inner.info {
    width: 860px;
    margin-top:90px;
    text-align:justify;
    font-size: 14px;
    color:black;
    line-height:1.5em;
}

.content-inner.info>div {
    -moz-column-count: 2;
    -moz-column-gap: 30px;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 14px;
}

.footer-inner {
   width: 750px;
   margin: 0 auto;
   margin-top: 16px;
}

.footer-inner a {
    color: white;
}

.footer-inner a, .footer-inner span {
    margin-left: 20px;
}

.logo-top{
    background-image: url("../images/logo.png");
    height: 124px;
    width: 254px;
    transform: rotate(-40deg) scale(3, 3);
    opacity: 0.1;
    position: absolute;
    top: 20px;
    left: 100px;
    z-index: 0;
}

.logo-center {
    overflow:hidden;
    width:73%;
    height:100%;
    position:absolute;
    right:0px;
    display: none;
}
        
.logo-center div {
    background-image: url("/content/images/logo.png");
    height: 200%;
    left: 27px;
    opacity: 0.07;
    position: absolute;
    top: -73px;
    transform: rotate(6deg);
    width: 299%;
    z-index: -1;
}

.logo-bottom {
    bottom: 0px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    right: 0px;
    width: 350px;
    z-index:-1;
}

.logo-bottom div{
    background-image: url("/content/images/logo-bottom.png");
    height: 16px;
    right: 30px;
    bottom: 100px;
    opacity: 0.1;
    position: absolute;
    transform: rotate(-40deg) scale(3, 3);
    width: 234px;
}

a{
	color: #27D;
	text-decoration: none;
}

a:focus, a:hover, a:active {
	text-decoration: underline;
}

p, li {
	line-height: 1.8em;
}

h1, h2 {
	font: 14px/150% 'Lucida Grande',Verdana,Helvetica,sans-serif !important;
	margin: 0 0 10px 0;
	letter-spacing:-1px;
}
h1 {
	padding: 0;
	font-size: 3em;
	color: #333;
}
h2 {
	padding-top: 10px;
	font-size:2em;
}
pre {
	font-size: 1.2em;
	line-height: 1.2em;
	overflow-x: auto;
}
div#page 
{
    left: 0px;
    margin: 50px auto 0px;
    text-align: left;
    width: 860px;
    font-size: 14px;    
}
div#container {
	padding: 20px;
}
div#ads {
	clear: both;
	padding: 12px 0 12px 66px;
}

.frame-border {
    position:absolute;
    background-image:url('/content/images/frame.png');
    height: 327px;
    width: 6px;
    opacity:0.4;
    display: none;
}

.border-left {
    left:0px;
    top: 155px;
}

.border-top{
    left: 400px;
    top: -163px;
}

/*********************=News***********************/
p:first-of-type {
	/*margin-right: 365px;*/
	margin-top: 0px;
}

@media (min-width:1280px){
    .teeth {
	    background-image: url('/content/images/teeth.png');
	    background-repeat: no-repeat;
	    position: absolute;
	    right: 0px;
	    top: 375px;
	    width: 356px;
	    height: 376px;
	    opacity: 0.05;
    }
}

/**********************=Navigation***********************/
#header #nav {
    float: left;
    margin-left: 40%;
    position: relative;
}

#header #nav ul {
    float: left;
    list-style: none;
    margin: 9px 0 0;					
}

#header #nav ul li {
	float: left;
	margin: 0; 
	padding: 6px 0 6px 10px;
	min-width: 50px;
}

#header #nav ul li a {
	float: left;
	margin: 0;
	padding: 0 15px 0 5px;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
}

#header #nav ul li a:hover, 
#header #nav ul li a:active {
	border: none;
	color: #111;
	background: transparent;
}

#header #nav ul li#current {
	/*background: rgba(255,255,255,0.8);*/
    background: url('/Content/images/bg_line.png');
}
#header #nav ul li#current a {	
	color: #343434;
}

#header #nav ul li#current div{	
    color: black !important;
}

/***********************=Responsive*****************************/
@media (max-width:1165px) {
    #header #nav {
        margin-right: 0px;
        float: left;
    }
}